.text{
    font-size: px2rem(14px);
    margin: px2rem(300px) auto;
    background: #FFD161;
    padding: px2rem(10px);
    width: px2rem(80px);
    text-align: center;
    border-radius: px2rem(4px);
    color: #333333;
}